html, head, body, h1, h2, h3, h4, h5, h6, p, ul, li, a, img, nav, label, button, div, footer, link, meta, title, input{
    padding: 0;
    margin: 0;
    border: 0;
}

/*FONTS FONTS FONTS FONTS FONTS*/
@font-face {
    font-family: 'Quantico Bold';
    src: url(./assets/fonts/Quantico/Quantico-Bold.ttf);
    font-weight: bold;
}  

@font-face {
    font-family: 'Quantico';
    src: url(./assets/fonts/Quantico/Quantico-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

/*FONT STYLES*/
p{
    font-family: 'Open Sans', 'Helvetica';
    font-size: 1rem;
}

.topnavbar li a{
    font-family: 'Quantico', 'Helvetica';
    text-decoration: none;
    border: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quantico Bold', 'Helvetica';
    font-size: 2rem;
}

.getsomecoffee label{
    font-family: 'Quantico Bold';
 }
 

/*CONTENT ALIGNMENT AND FLEX*/

.bestCup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: #45230F;
}

.finelyRoasted{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(./assets/photos/coffee-beans-bg.webp);
    background-size: cover;
    color: #ffffff;
}

body{
    text-align: center;
}
.menuheading{
    padding: 5%;
    color:#233237;
}  
.menuheading p{
    text-align: start;
    justify-content: center;
    margin: 0 15% 0 15%;
    padding: 2.5% 0 2.5% 0;
    color:#45230F;
}
.columncoffee{
    color:#45230F;
    text-align: center;
}

.columncoffee h2{
    padding: 2.5% 25% 2.5% 25%;
}
.columncoffee p{
    padding: 0 25% 5% 25%;
}
.columnteas{
    color:#45230F;

}
.columnteas h2{
    padding: 2.5% 25% 2.5% 25%;
}
.columnteas p{
    padding: 0 25% 5% 25%;
}

.columnsnacks{
    color:#45230F;
}

.columnsnacks h2{
    padding: 2.5% 25% 2.5% 25%;
}
.columnsnacks p{
    padding: 0 25% 5% 25%;
}
.copyright p{
    overflow: hidden;
    text-align: center;
}

/*BUTTON STYLES*/

#indexorderbutton{
    text-align: center;
    border-radius: 12px;
    background-color: #45230F;
    padding: 15px 20px 15px 20px;
    transition: 0.3s;
    opacity: 0.7;
    cursor: pointer;
}

#indexorderbutton:hover{
    opacity: 1;
}

#indexorderbutton form button{
    font-family: 'Quantico';
    color: #ffffff;
    background-color: #45230F;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
/*SHOW/HIDE DIV*/

input[type=checkbox] {
    position: absolute;
    left: -9999px;
 }
 label { 
   display: inline-block;
   margin: 60px 0 10px 0;
   cursor: pointer;
 }
 
 /*DEFAULT STATE*/
 #showhidebutton{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .getsomecoffee {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    visibility: hidden;
 }

 /*TOGGLED STATE*/

 input[type=checkbox]:checked ~ .getsomecoffee {
    visibility: visible;
 }

.visually-hidden {
    position: absolute;
    left: -100vw;
}
/*MOBILE STYLES*/

@media only screen and (max-width: 480px) {
    .bestCup{
        padding: 20% 5% 40% 5%;
        background-image: url(./assets/photos/coffee-hero-bg.webp);
        background-position: 64% 5%;
        align-items: center;
    }
    .bestCup h1{
        padding: 0 10% 0 10%
    }
    .bestCup p{
        padding: 10%
    }
    .finelyRoasted{
        text-align: center;
        padding: 10% 5% 10% 5%;
    }
    .finelyRoasted h1{
        padding: 10% 20% 0 20%
    }
    .finelyRoasted p{
        padding: 10%;
        text-align: left;
    }
    .topnavbar li{
        font-size: 24px;
        background: #233237;
        line-height: 2.5em;
        }
    .topnavbar li a{
        color:#ffffff;
    }
     .topnavbar li:hover{
            background: #b98957;
    }

    #navlogo{
        max-width: 95%;
    }

    /*****MOBILE NAVIGATION BAR*****/
    
.nav-menu {
    position: fixed;
    left: -100%;
    top: 4.75em;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
}

.hamburger {
    cursor: pointer;
    display: inline-flex;
    background-image: url(./assets/photos/hamburger.png);
    background-color: #ffffff;
    background-size: cover;
    padding: 5%;
}

.hamburger.clicked{
    background-image: url(./assets/photos/hamburgerexit.png);
}

.topnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.columncoffee h2{
    font-size: 1.25rem;
}
.columncoffee p{
    font-size: .75rem;
}
.columnteas h2{
    font-size: 1.25rem;
}
.columnteas p{
    font-size: .75rem;
}
.columnsnacks h2{
    font-size: 1.25rem;
}
.columnsnacks p{
    font-size: .75rem;
}
.copyright p{
    overflow: hidden;
    text-align: center;
}
}


/*TABLET STYLES*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .hamburger{
        display: none;
    }

    .topnavbar li{
        display: inline-block;
        padding: 5%;
    }

    .topnavbar li a{
        display: block;
        width: 100%;
        color: #45230F;
    }

    .index-body{
        background-image: url(./assets/photos/coffee-hero-bg.webp);
        background-position: 65% 35%;
    }

    .finelyRoasted{
        padding: 10%;
    }
    
    .finelyRoasted h1{
        padding: 5%
    }

    .bestCup{
        display: flex;
        padding: 10% 20% 40% 10%;
    }
    .bestCup p{
        padding: 0 0 5% 0;
    }
    #indexorderbutton{
        width: 200px;
    }
    .columncoffee h2{
        font-size: 1.25rem;
    }
    .columncoffee p{
        font-size: .75rem;
    }
    .columnteas h2{
        font-size: 1.25rem;
    }
    .columnteas p{
        font-size: .75rem;
    }
    .columnsnacks h2{
        font-size: 1.25rem;
    }
    .columnsnacks p{
        font-size: .75rem;
    }

}


/*DESKTOP STYLES*/
@media only screen and (min-width: 768px) {
    .topnavbar{
        display: flex;
        padding: 5% 10% 5% 10%;
        justify-content: space-between;
    }
    
    .topnavbar li{
        display: inline-flex;
    }

    .topnavbar li a{
        display: flex;
        color: #45230F;
        padding: 0 1rem 0 1rem;
        flex-wrap: nowrap;
        max-width: 70%;
    }
    

    #navlogo{
        width:30%;
    }

    .index-body{
        background-image: url(./assets/photos/coffee-hero-bg.webp);
        background-position: 25% 55%;
    }
    .hamburger{
        display: none;
    }

    .bestCup{
        padding: 0 10% 15% 10%;
    }
    
    .bestCup h1{
        padding: 5% 5% 2.5% 0;
        width: 35%
    }

    .bestCup p{
        width: 35%;
        padding: 0 0 2.5% 0;
    }
    #indexorderbutton{
        width: 250px;
    }
    .finelyRoasted{
        padding: 5%;
    }
    .finelyRoasted p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5% 20% 0 20%;
    }      
    .rowcoffee{
        display: table;
        
    }
      .columncoffee{
        display: inline-flex; 
        flex-direction: column; 
        align-items: flex-start; 
        max-width: 50%;
      }     
    .rowteas{
        display: table;
    }
      .columnteas {
        display: inline-flex; 
        flex-direction: column; 
        align-items: flex-start; 
        max-width: 50%;
      } 
    .rowsnacks{
        display: table;
    }

      .columnsnacks {
        display: inline-flex; 
        flex-direction: column; 
        align-items: flex-start; 
        max-width: 50%;
      }  
      .columncoffee h2{
        font-size: 1.5rem;
    }
    .columncoffee p{
        font-size: 1rem;
    }
    .columnteas h2{
        font-size: 1.5rem;
    }
    .columnteas p{
        font-size: 1rem;
    }
    .columnsnacks h2{
        font-size: 1.5rem;
    }
    .columnsnacks p{
        font-size: 1rem;
    }
}