html, head, body, h1, h2, h3, h4, h5, h6, p, ul, li, a, img, nav, button, div, footer, link, meta, title{
    padding: 0;
    margin: 0;
    border: 0;
}

/*FONTS FONTS FONTS FONTS FONTS*/
@font-face {
    font-family: 'Quantico Bold';
    src: url(/assets/fonts/Quantico/Quantico-Bold.ttf);
    font-weight: bold;
}  

@font-face {
    font-family: 'Quantico';
    src: url(/assets/fonts/Quantico/Quantico-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

/*FONT STYLES*/
p{
    font-family: 'Open Sans';
    font-size: 1rem;
}

.topnavbar li a{
    font-family: 'Quantico';
    text-decoration: none;
    border: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quantico Bold';
    font-size: 2rem;
}

/*CONTENT ALIGNMENT AND FLEX*/

.bestCup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: #45230F;
}

.finelyRoasted{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(/assets/photos/coffee-beans-bg.jpg);
    background-size: cover;
    color: #ffffff;
}


body{
    text-align: center;
}


/* BUTTON STYLES*/

#indexorderbutton{
    text-align: center;
    border-radius: 12px;
    background-color: #45230F;
    padding: 15px 20px 15px 20px;
    transition: 0.3s;
    opacity: 0.7;
}

#indexorderbutton:hover{
    opacity: 1;
}

#indexorderbutton form button{
    font-family: 'Quantico';
    color: #ffffff;
    background-color: #45230F;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
}


/*MOBILE STYLES*/

@media only screen and (max-width: 480px) {
    .bestCup{
        padding: 20% 5% 40% 5%;
        background-image: url(/assets/photos/coffee-hero-bg.jpg);
        background-position: 64% 10%;
        align-items: center;
    }
    .bestCup h1{
        padding: 0 10% 0 10%
    }
    .bestCup p{
        padding: 10%
    }
    .finelyRoasted{
        text-align: center;
        padding: 10% 5% 10% 5%;
    }
    .finelyRoasted h1{
        padding: 10% 20% 0 20%
    }
    .finelyRoasted p{
        padding: 10%;
        text-align: left;
    }
    .topnavbar li{
        font-size: 24px;
        background: #233237;
        line-height: 2.5em;
        }
    .topnavbar li a{
        color:#ffffff;
    }
     .topnavbar li:hover{
            background: #b98957;
    }

    #navlogo{
        max-width: 95%;
    }

    /*****MOBILE NAVIGATION BAR*****/
    
.nav-menu {
    position: fixed;
    left: -100%;
    top: 4.75em;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
}

.hamburger {
    cursor: pointer;
    display: inline-flex;
    background-image: url(/assets/photos/hamburger.png);
    background-color: #ffffff;
    background-size: cover;
    padding: 5%;
}

.hamburger.clicked{
    background-image: url(/assets/photos/hamburgerexit.png);
}

.topnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

}


/*TABLET STYLES*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .hamburger{
        display: none;
    }

    .topnavbar li{
        display: inline-block;
        padding: 5%;
    }

    .topnavbar li a{
        display: block;
        width: 100%;
        color: #45230F;
    }

    .index-body{
        background-image: url(/assets/photos/coffee-hero-bg.jpg);
        background-position: 65% 35%;
    }

    .finelyRoasted{
        padding: 10%;
    }
    
    .finelyRoasted h1{
        padding: 5%
    }

    .bestCup{
        display: flex;
        padding: 10% 20% 40% 10%;
    }
    .bestCup p{
        padding: 0 0 5% 0;
    }
    #indexorderbutton{
        width: 200px;
    }
}


/*DESKTOP STYLES*/
@media only screen and (min-width: 768px) {
    .topnavbar{
        display: flex;
        padding: 5% 10% 5% 10%;
        justify-content: space-between;
    }
    
    .topnavbar li{
        display: inline-flex;
    }

    .topnavbar li a{
        display: flex;
        color: #45230F;
        padding: 0 1rem 0 1rem;
        flex-wrap: nowrap;
        max-width: 70%;
    }
    

    #navlogo{
        width:30%;
    }

    body{
        background-image: url(/assets/photos/coffee-hero-bg.jpg);
        background-position: 40% 50%;
    }
    .hamburger{
        display: none;
    }

    .bestCup{
        padding: 0 10% 10% 10%;
    }
    
    .bestCup h1{
        padding: 5% 5% 2.5% 0;
        width: 35%
    }

    .bestCup p{
        width: 35%;
        padding: 0 0 2.5% 0;
    }
    #indexorderbutton{
        width: 250px;
    }
    .finelyRoasted{
        padding: 5%;
    }
    .finelyRoasted p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5% 20% 0 20%;
    }
}